services:
  database:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    volumes:
      - mysqlData:/var/lib/mysql
      - ./sql/db.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 10s
      retries: 5

  backend:
    depends_on:
      database:
        condition: service_healthy
    build:
      context: ./character-sheet-back-end
      dockerfile: Dockerfile
    image: ghcr.io/${IMAGE_NAME}/backend:main
    ports:
      - "5050:5000"
    env_file:
      - .env
    environment:
      DB_HOST: database
      DB_DATABASE: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}

  frontend:
    depends_on:
      - backend
    build:
      context: ./character-sheet-front-end
      dockerfile: Dockerfile
    image: ghcr.io/${IMAGE_NAME}/frontend:main
    ports:
      - "80:80"
    env_file:
      - .env