name: CI/CD Pipeline

on:
   push:
      branches: 
         - main
         - dev-branch
   pull_request:
      branches:
         - main

jobs:
   backend-tests:
      runs-on: ubuntu-latest

      steps:
         - uses: actions/checkout@v3

         